body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../pexels-photo-917463.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

section.main {
    margin: 0 auto;
    box-sizing: border-box;
    width: 40%;
    height: 75%;

    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.7);
    background: rgba(150, 125, 105, 0.5);
    padding: 10px 20px;
}

form{
    font-family: 'sansationlight';
    color: #eeeaea;
    text-align: left;
    display: flex;
    flex-flow: column;
}

form div.text {
    margin: 10px auto 20px;
    width: 90%;
}

form h1, form h2 {
    margin: 5px 0 2px;
}

form input, form div.btn {
    margin: 10px auto 0;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    width: 90%;
    font-family: 'sansationlight';
    color: #212121;
}

form input:hover, form input:focus {
    border: solid 1px blue;
    box-sizing: border-box;
    transition: 0.3s ease;
}

form div.btn {
    text-align: center;
    height: 70px;
}

form div.btn div.loader {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    margin: 20px auto 0;
    visibility: hidden;
}

form div.btn div.loader:before, form div.btn div.loader::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: #3498db;
}

form div.btn div.loader:before{
    z-index: 100;
    animation: spin 1s infinite;
}

form div.btn div.loader::after{
    border: 5px solid #ccc;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

form input.butn {
    margin-top: 20px;
    width: 40%;
    text-transform: uppercase;
}

form input.butn:hover {
    background-color: #212121;
    color: #eeeaea;
}

.error {
    text-align: center;
    margin: 3px auto 0;
    color: red;
    display: none;
}